@font-face {
    font-family: "iconfont";
    src: url('/fonts/iconfont.eot?t=5b2497eb5c56391e4dd19edbb0f101d3'); 
    src: url('/fonts/iconfont.eot?t=5b2497eb5c56391e4dd19edbb0f101d3#iefix') format('embedded-opentype'),
    url('/fonts/iconfont.woff2?t=5b2497eb5c56391e4dd19edbb0f101d3') format('woff2'),
    url('/fonts/iconfont.woff?t=5b2497eb5c56391e4dd19edbb0f101d3') format('woff'),
    url('/fonts/iconfont.ttf?t=5b2497eb5c56391e4dd19edbb0f101d3') format('truetype'),
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e002";
  }
  .icon-search:before {
    content: "\e006";
  }
  .icon-up:before {
    content: "\e007";
  }
  .icon-dashboard:before {
    content: "\e008";
  }
  .icon-close:before {
    content: "\e009";
  }
  .icon-telegram:before {
    content: "\e00a";
  }
  .icon-twitter-x:before {
    content: "\e00b";
  }
  .icon-email:before {
    content: "\e00c";
  }
  .icon-qq:before {
    content: "\e00d";
  }
  .icon-github:before {
    content: "\e00e";
  }
  .icon-bilibili:before {
    content: "\e00f";
  }
  .icon-nd-line:before {
    content: "\e010";
  }
  .icon-nc-line:before {
    content: "\e011";
  }
  .icon-line:before {
    content: "\e012";
  }
  .icon-by-line:before {
    content: "\e013";
  }
  .icon-safe:before {
    content: "\e014";
  }
  .icon-arrow-right:before {
    content: "\e015";
  }
  .icon-hashtag:before {
    content: "\e016";
  }
  .icon-folder:before {
    content: "\e017";
  }
  .icon-date:before {
    content: "\e018";
  }
  .icon-time:before {
    content: "\e019";
  }
  .icon-toc:before {
    content: "\e01a";
  }
  .icon-link:before {
    content: "\e01b";
  }
  .icon-copy-text:before {
    content: "\e01c";
  }
  .icon-chart:before {
    content: "\e01d";
  }
  .icon-article:before {
    content: "\e01e";
  }
  .icon-visibility:before {
    content: "\e01f";
  }
  .icon-account:before {
    content: "\e020";
  }
  .icon-copyright:before {
    content: "\e021";
  }
  .icon-shuffle:before {
    content: "\e022";
  }
  .icon-report:before {
    content: "\e023";
  }
  .icon-chat:before {
    content: "\e024";
  }
  .icon-left:before {
    content: "\e025";
  }
  .icon-right:before {
    content: "\e026";
  }
  .icon-arrow-up:before {
    content: "\e027";
  }
  .icon-refresh:before {
    content: "\e028";
  }
  .icon-window:before {
    content: "\e029";
  }
  .icon-image-copy:before {
    content: "\e02a";
  }
  .icon-download:before {
    content: "\e02b";
  }
  .icon-copy:before {
    content: "\e02c";
  }
  .icon-dark:before {
    content: "\e02d";
  }
  .icon-light:before {
    content: "\e02e";
  }
  .icon-auto:before {
    content: "\e02f";
  }
  .icon-robot:before {
    content: "\e030";
  }
  .icon-rss:before {
    content: "\e031";
  }
  .icon-home:before {
    content: "\e032";
  }
  .icon-paste:before {
    content: "\e033";
  }
  .icon-search-empty:before {
    content: "\e034";
  }
  .icon-algolia:before {
    content: "\e035";
  }
  .icon-accessible:before {
    content: "\e036";
  }
  .icon-fire:before {
    content: "\e037";
  }
  .icon-code:before {
    content: "\e038";
  }
  .icon-contacts:before {
    content: "\e039";
  }
  .icon-list:before {
    content: "\e03b";
  }
  .icon-align-top:before {
    content: "\e03c";
  }
  .icon-vue:before {
    content: "\e03e";
  }
  .icon-javascript:before {
    content: "\e03f";
  }
  .icon-css3:before {
    content: "\e040";
  }
  .icon-html5:before {
    content: "\e041";
  }
  .icon-chatgpt:before {
    content: "\e042";
  }
  .icon-photoshop:before {
    content: "\e043";
  }
  .icon-git:before {
    content: "\e044";
  }
  .icon-docker:before {
    content: "\e045";
  }
  .icon-python:before {
    content: "\e046";
  }
  .icon-nodejs:before {
    content: "\e047";
  }
  .icon-react:before {
    content: "\e048";
  }
  .icon-people:before {
    content: "\e04a";
  }
  .icon-right-round:before {
    content: "\e04b";
  }
  .icon-blur:before {
    content: "\e04d";
  }
  .icon-correct:before {
    content: "\e04e";
  }
  .icon-fish:before {
    content: "\e04f";
  }
  .icon-tools:before {
    content: "\e050";
  }
  .icon-technical:before {
    content: "\e051";
  }
  .icon-bing:before {
    content: "\e052";
  }
  .icon-baidu:before {
    content: "\e053";
  }
  .icon-prev:before {
    content: "\e054";
  }
  .icon-next:before {
    content: "\e055";
  }
  .icon-pause:before {
    content: "\e056";
  }
  .icon-play:before {
    content: "\e057";
  }
  .icon-music:before {
    content: "\e058";
  }
  .icon-quote:before {
    content: "\e059";
  }
  .icon-subway:before {
    content: "\e05a";
  }
  .icon-upyun:before {
    content: "\e05b";
  }
  .icon-page-right:before {
    content: "\e05c";
  }
  .icon-style:before {
    content: "\e05d";
  }
  .icon-star:before {
    content: "\e05e";
  }
  .icon-privacy:before {
    content: "\e05f";
  }
  .icon-alipay:before {
    content: "\e060";
  }
  .icon-wechat-pay:before {
    content: "\e061";
  }
  .icon-reward:before {
    content: "\e062";
  }
  .icon-volume-up:before {
    content: "\e063";
  }
  .icon-volume-down:before {
    content: "\e064";
  }