<figure class="image-bubble">
    <a href="https://a-m.didachuxing.com/dida/public/couponTemplate/index.html">
        <img src="https://i.loli.net/2021/08/25/NSK9zh8RLZEHXuT.jpg" alt="嘀嗒出行" referrerpolicy="no-referrer">
    </a>
    <a href="http://www.microsoftstore.com.cn">
        <img src="https://i.loli.net/2021/08/25/7hQLsn8joK9v5dD.png" alt="微软商城" referrerpolicy="no-referrer">
    </a>
</figure>
