<div id="comment"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script type="text/javascript">
new Valine({
    el: '#comment' ,
    notify: false, 
    verify: true, 
    appId: '<%- theme.valine.appId %>',
    appKey: '<%- theme.valine.appKey %>',
    placeholder: '云中谁寄锦书来，雁字回时，月满西楼',
    path:'<%- post.permalink %>', 
    avatar:'identicon',
});
</script>
