<div id="chart" style="height:350px; width:100%"></div>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>
<script type="text/javascript">
    fetch('/content.json')
        .then(function (res) {
            res.json().then(function (data) {
                var result = handleData(data);
                handleYearlyChart('chart', result);
            });
        })
        .catch(function (err) {
            console.log('Fetch Error : %S', err);
        })

    function handleData(posts) {
        var tags = {};
        var yearly = {};
        var categories = {};
        for (post of posts) {
            //统计不同年份
            var post_date = new Date(post.date);
            var post_year = post_date.getFullYear().toString();
            if (post_year in yearly) {
                yearly[post_year] = yearly[post_year] + 1;
            } else {
                yearly[post_year] = 1;
            }

            //统计不同分类
            for (category of post.categories) {
                if (category.name in categories) {
                    categories[category.name] = categories[category.name] + 1;
                } else {
                    categories[category.name] = 1;
                }
            }

            //统计标签
            for (tag of post.tags) {
                if (tag.name in tags) {
                    tags[tag.name] = tags[tag.name] + 1;
                } else {
                    tags[tag.name] = 1;
                }
            }
        }

        return {
            yearly: yearly,
            categories: categories,
            tags: tags
        };
    }

    function handleYearlyChart(el, data) {
        var chart = echarts.init(document.getElementById(el));
        var option = {
            title: {
                text: '',
                x: 'center'
            },
            tooltip: {},
            xAxis: {
                data: Object.keys(data.yearly)
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                data: Object.values(data.yearly)
            }, {
                name: '数量',
                type: 'line',
                data: Object.values(data.yearly)
            }]
        };

        chart.setOption(option);
    }

</script>