<%
    function shuffle(a) {
        for (let i = a.length; i; i--) {
            let j = Math.floor(Math.random() * i);
            [a[i - 1], a[j]] = [a[j], a[i - 1]];
        }
        return a;
    }

    function recommended_posts(page, site, limit = 5) {
        page.tags = page.tags || []
        page.categories = page.categories || []
        if (page.tags.length == 0) return [];
        let pageTags = page.tags.map(x=>x.name);
        let pageCates = page.categories.map(x=>x.name);
        let sitePosts = site.posts.toArray().map(x=> {
            return {tags:x.tags.toArray().map(y=>y.name), categories:x.categories.toArray().map(y=>y.name), title:x.title, permalink:x.permalink, date:x.date}
        });
        let postsByTag = pageTags.map(x=>sitePosts.filter(y=>y.title != page.title  && (y.tags.indexOf(x) != -1 || y.date.format('MM/DD') == page.date.format('MM/DD')))).reduce((prev,next)=>{
            return prev.concat(next);
        },[]);
        let postsByCate = pageCates.map(x=>sitePosts.filter(y=>y.title != page.title  && (y.categories.indexOf(x) != -1 || y.date.format('MM/DD') == page.date.format('MM/DD')))).reduce((prev,next)=>{
            return prev.concat(next);
        },[]);
        var relatedPosts = postsByTag.concat(postsByCate);
        console.log(relatedPosts.length)
        if (relatedPosts.length >= limit) {
            return Array.from(new Set(relatedPosts)).slice(0, limit)
        }
        if (relatedPosts.length == 0) {
            return shuffle(site.posts.toArray()).slice(0, limit);
        }
        return shuffle(Array.from(new Set(relatedPosts))).slice(0, limit);
    }


%>
<% var post_list = recommended_posts(page, site, config.recommended_posts.limit) %>
<% if(post_list.length > 0 && config.recommended_posts.enable) { %>
<div class="recommended_posts">
    <h1><%= config.recommended_posts.title %></h1>
    <ul>
        <% post_list.forEach(function(link) { %>
        <li><a href="<%= link.permalink %>"><%= link.title %></a></li>
        <% }) %>
    </ul>
</div>
<% } %>